
<!-- <div ng-hide="SendForm">
<H2>Forgot Your Password?</H2>
<H5>Enter your Email address to get password reset link</H5>

 <form name="forgotForm"  ng-submit="submitForm(forgotForm)" novalidate>

    <input type="email" name="validEmail" ng-model="forgotpassword.ForgotEmail" placeholder="Email" required/>
    <span  ng-show="forgotForm.validEmail.$touched && forgotForm.validEmail.$invalid &&
     !forgotForm.validEmail.$error.required">Invalid email </span>
    <span  ng-show="forgotForm.validEmail.$touched && forgotForm.validEmail.$error.required">
        Cannot be left empty </span>
    <span  ng-show="submitted && !forgotForm.validEmail.$touched &&
     forgotForm.validEmail.$error.required">Cannot be left empty </span>
    <span  ng-show="submitted && !forgotForm.validEmail.$touched &&
     forgotForm.validEmail.$invalid && !forgotForm.validEmail.$error.required">
        Invalid email </span>
        
    
    <input type="submit" ng-click="submitted=true;" value="Send link">

    </form>

</div>
{{result}}

<div ng-hide="NewPasswordForm">
    <form name="NewPassForm" ng-submit="submitPasswordForm(NewPassForm)" novalidate>


    <h5>New password</h5>
    <input type="password" ng-keyup="checkPassword()" ng-model="forgotpassword.ResetPassword" name="resetpass"  
    placeholder="Password" pattern="[a-z0-9A-Z!@#$%^&*()_.]{8,25}" required/>
        <span  ng-show="NewPassForm.resetpass.$touched && NewPassForm.resetpass.$error.pattern &&
        !NewPassForm.resetpass.$error.required">
        password too small or invalid character,use(8-25 char)(a-z,0-9,A-Z,!,@,#,$,%,^,&,*,(,),_,.) </span>
        <span  ng-show="NewPassForm.resetpass.$touched && NewPassForm.resetpass.$error.required">Cannot be left empty </span>
        <span  ng-show="PasswordSubmitted && !NewPassForm.resetpass.$touched &&
        NewPassForm.resetpass.$error.required">Cannot be left empty </span>
        <span  ng-show="PasswordSubmitted && !NewPassForm.resetpass.$touched &&
        NewPassForm.resetpass.$error.pattern">
        password too small or invalid character,use(8-25 char)(a-z,0-9,A-Z,!,@,#,$,%,^,&,*,(,),_,.) </span>

    <h5>New Password Again</h5>
    <input type="password" ng-keyup="checkPassword()" ng-model="forgotpassword.ResetPassword2" placeholder="Password Again" />
    {{PasswordMessage}}



<input type="submit" ng-click="PasswordSubmitted=true;" value="Change password">
</form>

{{PasswordResult}}

</div>
{{Result}}


 <H1> <a href="#login">LogIn</a></H1>
 -->
 <button ng-click="sendAgain();" ng-hide="sendAgainButton">Send Again</button>
 



 <section id="content" class="col-md-6 col-md-offset-3 m-t-xl wrapper-md animated fadeInUp bg-info dker">
    <div class="container aside-xl">
      <a class="navbar-brand block" ng-href="/"><span class="h1 font-bold">Forgot Your Password?</span></a>
      <section class="m-b-lg">
        <header class="wrapper text-center">
          <strong>Enter your Email address to get password reset link</strong>
        </header>
    <form name="forgotForm"  ng-submit="submitForm(forgotForm)" novalidate>
          <div class="form-group">
    <input  type="email" name="validEmail" ng-model="forgotpassword.ForgotEmail" placeholder="Email" class="form-control rounded input-lg text-center no-border" required>
    <span  ng-show="forgotForm.validEmail.$touched && forgotForm.validEmail.$invalid &&
    !forgotForm.validEmail.$error.required">Invalid email </span>
   <span  ng-show="forgotForm.validEmail.$touched && forgotForm.validEmail.$error.required">
       Cannot be left empty </span>
   <span  ng-show="submitted && !forgotForm.validEmail.$touched &&
    forgotForm.validEmail.$error.required">Cannot be left empty </span>
   <span  ng-show="submitted && !forgotForm.validEmail.$touched &&
    forgotForm.validEmail.$invalid && !forgotForm.validEmail.$error.required">
       Invalid email </span>

          </div>


            <input type="submit" ng-click="submitted=true;" value="Send link" class="btn btn-lg btn-info b-white b-2x btn-block btn-rounded">


          <!--button type="submit" class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded"><i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Sign in</span></button-->

          <div class="line line-dashed"></div>
          <!--p class="text-muted text-center"><small>Do not have an account?</small></p>
          <a href="signup.html" class="btn btn-lg btn-info btn-block rounded">Create an account</a-->
        </form>

        {{result}}
      </section>
      <div class="text-center m-t m-b"><small>Came here by mistake? </small><a href="#login"> Login</a></div>
    </div>
    
  </section>



  
 <section id="content" class="col-md-6 col-md-offset-3 m-t-xl wrapper-md animated fadeInUp bg-info dker" ng-hide="NewPasswordForm">
    <div class="container aside-xl">
      <a class="navbar-brand block" ng-href="/"><span class="h1 font-bold">New password</span></a>
      <section class="m-b-lg">
        <header class="wrapper text-center">
          <strong>Set your new password here</strong>
        </header>
        <form name="NewPassForm" ng-submit="submitPasswordForm(NewPassForm)" novalidate>
            <div class="form-group">
    <input type="password" ng-keyup="checkPassword()" ng-model="forgotpassword.ResetPassword" name="resetpass"  
    placeholder="Password" pattern="[a-z0-9A-Z!@#$%^&*()_.]{8,25}" class="form-control rounded input-lg text-center no-border" required>
    <span  ng-show="NewPassForm.resetpass.$touched && NewPassForm.resetpass.$error.pattern &&
    !NewPassForm.resetpass.$error.required">
    password too small or invalid character,use(8-25 char)(a-z,0-9,A-Z,!,@,#,$,%,^,&,*,(,),_,.) </span>
    <span  ng-show="NewPassForm.resetpass.$touched && NewPassForm.resetpass.$error.required">Cannot be left empty </span>
    <span  ng-show="PasswordSubmitted && !NewPassForm.resetpass.$touched &&
    NewPassForm.resetpass.$error.required">Cannot be left empty </span>
    <span  ng-show="PasswordSubmitted && !NewPassForm.resetpass.$touched &&
    NewPassForm.resetpass.$error.pattern">
    password too small or invalid character,use(8-25 char)(a-z,0-9,A-Z,!,@,#,$,%,^,&,*,(,),_,.) </span>


          </div>

          <div class="form-group">
            <input type="password" ng-keyup="checkPassword()" ng-model="forgotpassword.ResetPassword2" placeholder="Password Again" class="form-control rounded input-lg text-center no-border" />
            {{PasswordMessage}}
      </div>


            <input type="submit" ng-click="PasswordSubmitted=true;" value="Change password" class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded">


          <!--button type="submit" class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded"><i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Sign in</span></button-->

          <div class="line line-dashed"></div>
          <!--p class="text-muted text-center"><small>Do not have an account?</small></p>
          <a href="signup.html" class="btn btn-lg btn-info btn-block rounded">Create an account</a-->
        </form>
        <div>
        {{PasswordResult}}
        </div>
        {{Result}}
      </section>

    </div>
    
  </section>