  <div ng-repeat="pods in main.topPods track by $index">
    <img src="{{pods.coverUrl}}" alt="Cover image">
    <p>Title:{{pods.title}}</p>
    <p>Subheading:{{pods.subtext}}</p>
    <p>Description:{{pods.description}}</p>
    <p>Type:{{pods.type}}</p>
    <p>Likes:{{pods.likes}}</p>

    <button ng-click="playThis(pods.fileUrl)">></button>
  </div>

  {{topPodsResult}}


<div ng-hide="loginFirst">
  <p>You need to login/signup first to play a podcast!</p>
  <a ng-href="/#/login">Login now</a>
  <button ng-click="loginFirst=true">Hide</button>
</div>
