<!-- <h1>All team members</h1>
<div>
  <div ng-repeat="members in opspanel.allMembers">
    <img ng-src="{{members.picUrl}}">
      <p>{{members.name}}</p>
      <p>{{members.designation}}</p>
      <p>{{members.description}}</p>
      <a ng-href="{{members.fblink}}">FB</a>
      <a ng-href="{{members.twlink}}">Twitter</a>
      <a ng-href="{{members.lklink}}">Linkedin</a>
  </div>
</div> -->


                  <!-- Our team Section -->
                  <section id="team" class="team content-section">
                      <div class="container">
                        <div class="row text-center">
                          <div class="col-md-12">
                            <h2>Our Team</h2>
                          </div>
                  
                          <!-- <div class="container">
                            <div class="row">
                  
                              <div class="col-md-4" ng-repeat="members in opspanel.allMembers">
                                <div class="team-member">
                                  <figure>
                                    <img ng-src="{{members.picUrl}}" alt="" class="img-responsive">
                                    <figcaption>
                                      <p>{{members.description}}</p>
                                      <ul>
                                        <li><a ng-href="{{members.fblink}}"><i class="fa fa-facebook fa-2x"></i></a></li>
                                        <li><a ng-href="{{members.twlink}}"><i class="fa fa-twitter fa-2x"></i></a></li>
                                        <li><a ng-href="{{members.lklink}}"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                      </ul>
                                    </figcaption>
                                  </figure>
                                  <h4>{{members.name}}</h4>
                                  <p>{{members.designation}}</p>
                                </div>
                              </div>
                  
                  
                            
                            </div>
                          </div> -->

                          <div>
                            <h4 style="line-height : 1.8em">
                          Perspectico team has built a panel of experts from their networks, from fields ranging from Investment Banking to Marketing, from Management Consulting to Technology.
                          
                          Finance: Our mentors have expertise across Equity Research, Debt and Equity Capital Markets, Investment Banking and Private Equity/Venture Capital. Their resumes include names like Nomura, HSBC, Kotak, GenNext Ventures, Deloitte, Xander Private Equity and Unitus Capital.
                          
                          Management Consulting: Our mentors bring experience across top tier I consulting firms like McKinsey, Bain, Boston Consulting Group (BCG), AT Kearney and Deloitte. 
                            </h4>
                          </div>
                        </div>
                      </div>
                    </section>