<!-- <section data-spy="scroll" data-target="#navbar-example" style="position: relative; height: 650px; overflow-y: auto;" class="scrollspy-section">

  <div id="navbar-example" class="hidden-xs col-md-3 aside bg-light dk list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto">
    <ul class="nav nav-tabs" role="tablist">
      <li class="list-group-item"><a ng-click="scrollTo('Finance')">Finance</a></li>
      <li class="list-group-item"><a ng-click="scrollTo('Consulting')">Consulting</a></li>
      <li class="list-group-item"><a ng-click="scrollTo('TechnologyandProductManagement')">Technology and Product Management</a></li>
      <li class="list-group-item"><a ng-click="scrollTo('none')">none</a></li>
      <li class="list-group-item"><a ng-click="scrollTo('van')">van</a></li> 
    </ul>

  </div>
  <div class="col-md-9">
  <div id="Finance" class="content">
		<h2>Finance</h2>
		Finance is one of the most coveted careers in the world, however, it is also one of the toughest to get
		into. It is quite difficult to get a shortlist from leading firms, let alone clearing the interview. Through
		our initiative, we have tied-up with folks with several years of experience in across Investment
		Banking and Private Equity. Our team has come up with a list of core topics everyone should know to
		tackle any finance interview. Through our Interview Preparation modules, we cover these and more to
		help you crack that finance job!
		<h3>Our Modules:</h3>
		Awareness Module: Covers -
		<ul>
			<li>Various types of career options in industries like finance/investment banking</li>
			<li> Work-ex vs. CFA vs CA vs. MBA.</li>
					<li>How to prepare for a finance interview?</li>
							<li> General awareness of key events</li>
									<li> What are companies looking for?</li>
											<li> Long term career prospects</li>
		</ul>
		Preparatory Module: Covers -
		<ul>
			<li> Detailed breakdown of all components of a finance interview
				</li>

				<li>  Detailed understanding of macro events</li> 
				<li>  Financial statement analysis and primer on key terms</li> 
				<li>  Tackling the puzzle round, stress interviews</li> 
				<li>  Valuation: How to value any company?</li> 
		</ul>

		Advanced Module: Covers –
		<ul>
			
		<li> Financial and waterfall modeling</li> 
		<li> Investment structuring</li> 
		<li> Valuation – All key methods</li> 
		<li> Writing financial recommendations</li> 
		
		<li> Public vs. Private Equity</li> 
		<li> Taxation – How it impacts structuring and valuation?</li> 
		</ul>
  </div>

  <div id="Consulting" class="content">
    <h2>Consulting</h2>

  	Top tier management consulting firms value structured problem solving and analytical ability. Luckily
for you, it can be learnt. Through our Interview Preparation modules, we teach you how to analyse a
business scenario and make recommendations for business cases, handle tricky guesstimates and whiz
past those brain teasers. The training is rooted in fundamental frameworks consultants swear by –
from Porter’s five Forces to the BCG Matrix – to give you that inside edge.
<h3>Our Modules:</h3>
Awareness Module: Covers -
<ul>
<li> Overview of a consulting case interview </li>
<li> Types of cases</li>
<li> How to prepare for a case interview?</li>
<li> Resources for guesstimates?</li>
<li> What are consulting companies looking for?</li>
<li> Long term career prospects</li>
</ul>
Preparatory Module: Covers -
<ul>
<li>Detailed breakdown of all types of case interviews</li>
<li> Useful frameworks (Porter’s, BCG Matrix) and how to apply them</li>
<li> Detailed understanding of global and macro events</li>
<li> Tackling the puzzle round, stress interviews</li>
</ul>
Advanced Module: Covers –
<ul>
<li> Run-through of 20 different case interviews</li>
<li> Run-through of 10 categories of guesstimates and how to handle them</li>
<li> Presenting your case solutions the right way</li>
<li> Leadership related questions</li>
<li> Run-through of how to analyse real-life business strategies and applying it to interviews</li>
</ul>
  </div>


  <div id="TechnologyandProductManagement" class="content">
    <h2>Technology and Product Management</h2>

Technology and e-commerce have been the fastest growing career fields over the last five years. With
heavy investments in consumer internet by global investors, Unicorns are now a leading career option
for young folks interested in working in a fast-paced environment. Through our Interview Preparation
Modules we offer you insights on the roles available in technology

<h3>Our Modules:</h3>
Awareness Module: Covers -
<ul>
<li> Various types of career options in technology</li>
<li> Work-ex vs. MBA.</li>
<li> How to prepare for a tech or product interview?</li>
<li> General awareness of key terms and question types</li>
<li> What are companies looking for?</li>
<li> Long term career prospects</li>
</ul>
Preparatory Module: Covers -
<ul>
<li> Dissecting leading consumer tech products for the interview</li>
<li> Basics of product design</li>
<li>Typical metrics analyzed in tech products</li>
<li> B2B tech versus B2C tech</li>
<li> Primer on sunrise sectors like AI, VR</li>
</ul>
Advanced Module: Covers –
<ul>
<li> Basic tools used in tech and product management</li>
<li> Designing a product from scratch</li>
<li> Managing end to end product development</li>
<li> How to analyse a product’s success and replicate learnings?</li>
</ul>
  </div>



  </div>
</div>
</section> -->



<section class="vbox">
		<section>
		  <section class="hbox stretch">
	  
			<section id="content">
			  <section class="vbox">
	  <section class="w-f-md" id="bjax-target">
		<section class="hbox stretch">
		  <!-- side content -->
		  <aside class="aside bg-light dk" id="sidebar">
			<section class="vbox animated fadeInUp">
			  <section class="scrollable hover">
				<div class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto">
				  <a ng-click="scrollTo('Finance')" class="list-group-item">Finance</a>
				  <a ng-click="scrollTo('Consulting')" class="list-group-item">Consulting</a>
				  <a ng-click="scrollTo('TechnologyandProductManagement')" class="list-group-item">Technology and Product Management</a>
				  
				</div>
			  </section>
			</section>
		  </aside>
		  <!-- / side content -->
		  <section>
	  
		  
			<section class="vbox">
			  <section class="scrollable padder-lg m-b-xl">
				 <!-- <h2 class="font-thin m-b">{{library.podType}}</h2> -->
				<div class="row row-sm">
						<div id="Finance" class="modules">
								<h2>Finance</h2>
								Finance is one of the most coveted careers in the world, however, it is also one of the toughest to get
								into. It is quite difficult to get a shortlist from leading firms, let alone clearing the interview. Through
								our initiative, we have tied-up with folks with several years of experience in across Investment
								Banking and Private Equity. Our team has come up with a list of core topics everyone should know to
								tackle any finance interview. Through our Interview Preparation modules, we cover these and more to
								help you crack that finance job!
								<h3>Our Modules:</h3>
								Awareness Module: Covers -
								<ul>
									<li>Various types of career options in industries like finance/investment banking</li>
									<li> Work-ex vs. CFA vs CA vs. MBA.</li>
											<li>How to prepare for a finance interview?</li>
													<li> General awareness of key events</li>
															<li> What are companies looking for?</li>
																	<li> Long term career prospects</li>
								</ul>
								Preparatory Module: Covers -
								<ul>
									<li> Detailed breakdown of all components of a finance interview
										</li>
						
										<li>  Detailed understanding of macro events</li> 
										<li>  Financial statement analysis and primer on key terms</li> 
										<li>  Tackling the puzzle round, stress interviews</li> 
										<li>  Valuation: How to value any company?</li> 
								</ul>
						
								Advanced Module: Covers –
								<ul>
									
								<li> Financial and waterfall modeling</li> 
								<li> Investment structuring</li> 
								<li> Valuation – All key methods</li> 
								<li> Writing financial recommendations</li> 
								
								<li> Public vs. Private Equity</li> 
								<li> Taxation – How it impacts structuring and valuation?</li> 
								</ul>
						  </div>
						
						  <div id="Consulting" class="modules">
							<h2>Consulting</h2>
						
							  Top tier management consulting firms value structured problem solving and analytical ability. Luckily
						for you, it can be learnt. Through our Interview Preparation modules, we teach you how to analyse a
						business scenario and make recommendations for business cases, handle tricky guesstimates and whiz
						past those brain teasers. The training is rooted in fundamental frameworks consultants swear by –
						from Porter’s five Forces to the BCG Matrix – to give you that inside edge.
						<h3>Our Modules:</h3>
						Awareness Module: Covers -
						<ul>
						<li> Overview of a consulting case interview </li>
						<li> Types of cases</li>
						<li> How to prepare for a case interview?</li>
						<li> Resources for guesstimates?</li>
						<li> What are consulting companies looking for?</li>
						<li> Long term career prospects</li>
						</ul>
						Preparatory Module: Covers -
						<ul>
						<li>Detailed breakdown of all types of case interviews</li>
						<li> Useful frameworks (Porter’s, BCG Matrix) and how to apply them</li>
						<li> Detailed understanding of global and macro events</li>
						<li> Tackling the puzzle round, stress interviews</li>
						</ul>
						Advanced Module: Covers –
						<ul>
						<li> Run-through of 20 different case interviews</li>
						<li> Run-through of 10 categories of guesstimates and how to handle them</li>
						<li> Presenting your case solutions the right way</li>
						<li> Leadership related questions</li>
						<li> Run-through of how to analyse real-life business strategies and applying it to interviews</li>
						</ul>
						  </div>
						
						
						  <div id="TechnologyandProductManagement" class="modules">
							<h2>Technology and Product Management</h2>
						
						Technology and e-commerce have been the fastest growing career fields over the last five years. With
						heavy investments in consumer internet by global investors, Unicorns are now a leading career option
						for young folks interested in working in a fast-paced environment. Through our Interview Preparation
						Modules we offer you insights on the roles available in technology
						
						<h3>Our Modules:</h3>
						Awareness Module: Covers -
						<ul>
						<li> Various types of career options in technology</li>
						<li> Work-ex vs. MBA.</li>
						<li> How to prepare for a tech or product interview?</li>
						<li> General awareness of key terms and question types</li>
						<li> What are companies looking for?</li>
						<li> Long term career prospects</li>
						</ul>
						Preparatory Module: Covers -
						<ul>
						<li> Dissecting leading consumer tech products for the interview</li>
						<li> Basics of product design</li>
						<li>Typical metrics analyzed in tech products</li>
						<li> B2B tech versus B2C tech</li>
						<li> Primer on sunrise sectors like AI, VR</li>
						</ul>
						Advanced Module: Covers –
						<ul>
						<li> Basic tools used in tech and product management</li>
						<li> Designing a product from scratch</li>
						<li> Managing end to end product development</li>
						<li> How to analyse a product’s success and replicate learnings?</li>
						</ul>
						  </div>
						
				  </div>
				<!--ul class="pagination pagination">
				  <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
				  <li class="active"><a href="#">1</a></li>
				  <li><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
				  <li><a href="#">4</a></li>
				  <li><a href="#">5</a></li>
				  <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
				</ul-->
			  </section>
			</section>
		  </section>
		</section>
	  </section>
			  </section>
			</section>
		  </section>
		</section>
	  </section>
	  